/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #ECF0F1;
    --complementary-color: #FFCCCC;

    --curtain-border-radius: 3.125em;

    --spacer: 1rem;
    --space-1: calc(var(--spacer) * .25);
    --space-2: calc(var(--spacer) * .5);
    --space-3: var(--spacer);
    --space-4: calc(var(--spacer) * 1.5);
    --space-5: calc(var(--spacer) * 3);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
