/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #ECF0F1;
    --complementary-color: #FFCCCC;
    --opaque-complementary-color: rgba(255,204,204, 0.5);
    --text-color: #747D8C;
    --opaque-text-color: #A4B0BE;
    --focused-text-color: #bf5f82;
    --background-primary-color: #F2F2F2;

    --curtain-border-radius: 3.125em;

    --border-1: 0.2rem;

    --spacer: 1rem;
    --space-1: calc(var(--spacer) * .25);
    --space-2: calc(var(--spacer) * .5);
    --space-3: var(--spacer);
    --space-4: calc(var(--spacer) * 1.5);
    --space-5: calc(var(--spacer) * 3);

    --small: 576px;
    --medium: 768px;
    --large: 992px;
    --extra-large: 1200px;
    --extra-extra-large: 1400px;

    --animation-duration-1: 0.25s;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.curtain-top {
    width: 95%;
    height: 3.125em;
    border-bottom-left-radius: var(--curtain-border-radius);
    border-bottom-right-radius: var(--curtain-border-radius);
    background-color: var(--complementary-color);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &__spacer {
        padding-top: var(--space-5);
    }
}
